* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.heading {
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: 300;
}

/* HEADER */
header nav {
    
    color:#AABFB3;
    height: 76px;
   
}

header nav ul {
    list-style: none;
    padding: 1.75rem;
    background-color:#AABFB3;
    text-align: center;
}

header>nav>ul>li {
    display: inline-block;
    
}

header>nav>ul>li>a {
    /* border: 1px solid;  */
    color:black;
    border-radius: 10px; 
    text-transform: capitalize;
    text-decoration: none;
    padding: .5rem 1.5rem;
    font-weight: 900;
    font-family: 'Lexend Zetta', sans-serif;
    
}
/* Change the link color to #698C58 on hover */
li a:hover {
    background-color:#698C58;
  }
}    
header {
    position: relative;
}

header #hero {
    height: 800px;
    background: url("../img/plantclip.jpg") no-repeat center left;
    background-size:cover;
   
}

header h1 {
    position: absolute;
    background-color:#AABFB3;
    top: 30%;
    left: 60%;
    color: rgb(228, 228, 228);
    ;
    font-size: 7rem;
}
/* MAIN */

main {
    margin: 4rem 12rem;
}
/* ROW AND COLUMNS */

.row::after {
    content: "";
    clear: both;
}

.column {
    float: left;
    width: 32%;
    /* background-color: #698C58; */
    /* border-radius: 25px; */
    padding: 1rem 1.5rem;
    margin: 0 .5rem;
}
.column h2.heading {
    letter-spacing: 5px;
    /* text-transform: uppercase; */
    /* text-decoration: underline; */
    color:black;
}

.column p, footer {
    text-align:right;
    padding-top: .5rem;
    padding-right: 2rem;
}

img{
    width: 350px;
    /* height: 400px;  */
    
}

footer {
    clear: both;
    /* text-align: center; */
    height:75px;
    background-color:#AABFB3;
}
